[DEFAULT]
# local download filesystem path
localpath = /home/amaibach/pydav-datas
debug = False

[webdav]
# Webdav global informations part
rhost = http://127.0.0.1
rlogin = johnDoe
rpass = None
webdav_root = /
# Webdav target path
share = /synced

[logging]
# other values: syslog | file
logdst = console 
logfilepath = /var/log/

